main: 
  label: "FreeIPA"
  host: "{{ ipa_full_host_name }}"
  port: 389
  uid: "uid"
  method: "tls"
  bind_dn: "uid={{ free_ipa_client }},cn=users,cn=accounts,dc={{ domain_name_1 }},dc={{ domain_name_2 }}"
  password: "{{ free_ipa_password }}"
  encryption: "plain"
  base: "cn=accounts,dc=test,dc=local"
  verify_certificates: false
  attributes:
    username: ['uid']
    email: ['mail']
    name: "displayName"
    first_name: "givenName"
    last_name: "sn"
